*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(213, 209, 209);
    height: 100vh;
    width: 100%;
    font-family: "Rowdies", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;

}

.logo{
    
    margin-left: -300px;
    text-shadow: 0 0 2px black;
    color: rgb(0, 0, 0);
    font-size: 43px;

}
.logo span{
    color:#ffc03d;
    font-size: 27px;
}


.box{
    position: relative;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 50px rgb(139, 135, 135), 0 0 10px gray, 0 0 50px rgb(114, 110, 110);
   padding: 50px;
   display: flex;
   flex-direction: column;
   border-radius: 23px;
   margin-bottom: 100px;
   width: 600px;
   
}

input{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    width: 300px;
    box-shadow: inset 2px 5px 18px rgba(92, 90, 90, 0.758);
}
input:active{
    border: none;


}

.form{
    text-align: left;
}

label{
    margin: 10px;
}

#button{
    cursor: pointer;
    text-align: center;
    position: relative;
    left:25%;
    border-radius: 50px;
    background-color: #ffc03d;
    margin-top: 50px;
    
    box-shadow: 0 0 6px rgb(185, 140, 5),0 0 12px goldenrod , 0 0 30px gold;
    font-family: "Rowdies", sans-serif;
    transition: 0.6s ease all;
}

.box h1{
    margin-bottom: 30px;
}

/* .card #button:active{
    border: none;
    transform: scale(0.9);
} */


.cart-icon {
    font-size: 22px;
    font-weight: bold;
    color: #fff3f3;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.cart-count {
    background-color: red;
    color: rgb(255, 0, 0);
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 4px;
    font-size: 14px;
}
